# Large input/reference files
*.gtf
*.gtf.gz
*.bed
*.bed.gz

# Keep folder placeholders if used
!results/.gitkeep
!figures/.gitkeep
!intermediate/.gitkeep

# Large/intermediate outputs generated during analysis
intermediate/
!intermediate/.gitkeep
results/*.bed
results/str_in_tss_pm2kb.tsv
results/str_in_tss_pm2kb_unique.bed
results/str_outside_tss_pm2kb.bed
results/str_to_nearest_tss.tsv
results/coding_to_nearest_tss_signed.tsv
results/noncoding_to_nearest_tss_signed.tsv
results/str_coding.bed
results/str_noncoding.bed

# Temporary permutation files
permutations_100/
permutations_test/

# Python/cache/system files
__pycache__/
*.pyc
.Rhistory
.DS_Store
Thumbs.db
.ipynb_checkpoints/
